{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    
    <div class="single-element-widget mt-30">
    <div class="default-select" id="default-select">
    {{ form_label(form.pack,"Type d'abonnement",{ 'style':""})}}
    <br><br><br>
     {{ form_widget(form.pack,{'attr':{'class':'form-control'}})}}
     {{form_errors(form.pack)}}
    </div>
    </div>
    <br><br><br>
     <div class="single-element-widget mt-30">
    <div class="default-select" id="default-select">
    {{ form_label(form.dateAchat,"Date Achat")}}
     {{ form_widget(form.dateAchat,)}}
     {{form_errors(form.dateAchat)}}
    </div>
    </div>
     <div class="col-xl-2 col-lg-2 col-md-3">
    <button class="btn wantToWork-btn f-right">{{ button_label|default('Valider') }}</button>
     </div>
    {{ form_end(form) }}