

{% extends 'baseFront.html.twig' %}

{% block title %}EnergyBox | Planning{% endblock %}

{% block tache %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">

            <h2>Create new Abonnement</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <h1>Abonnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnement.id }}</td>
            </tr>
            <tr>
                <th>Type Abonnement</th>
                <td>{{ abonnement.pack.typePack  }}</td>
            </tr>
            
            <tr>
                <th>Durée Abonnement</th>
                <td>{{ abonnement.pack.dureePack }}</td>
            </tr>
            <tr>
                <th>Date Achat</th>
                <td>{{ abonnement.dateAchat ? abonnement.dateAchat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date Fin</th>
                <td>{{ abonnement.dateFin ? abonnement.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat Abonnement</th>
                <td>{{ abonnement.etatAbonnement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_abonnement_index') }}">back to list</a>

    {{ include('abonnement/_delete_form.html.twig') }}
</div>
                    </div>
                </div>                
            </div>
        </section>
    </main>
{% endblock %}