{% extends 'baseBack.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- START WHITE BACKGROUND-->
                <div class="map-data m-b-40">
                    <h1>
                        <center>Les sponsors</center>
                    </h1>
                    <br>
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                            <tr>
                                <!--  <th>Id</th> -->
                                <th>NomSponsor</th>
                                <th>Donnation</th>
                                <th>DateDebut</th>
                                <th>DateFin</th>
                                <th>Image</th>
                                <th>Compitions associés</th>
                                <th>actions</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sponsor in sponsors %}
                                {% set img=sponsor.image %}

                                <tr>
                                    {#   <td>{{ sponsor.id }}<    /td> #}
                                    <td>{{ sponsor.nomSponsor }}</td>
                                    <td>{{ sponsor.donnation }}</td>
                                    <td>{{ sponsor.dateDebut ? sponsor.dateDebut|date('Y-m-d') : '' }}</td>
                                    <td>{{ sponsor.DateFin ? sponsor.DateFin|date('Y-m-d') : '' }}</td>
                                    <td><img src="{{ asset(img) }}" height="200px;" width="100px;"></td>
                                    <td>{{ sponsor.compitions|join(' | ') }}</td>
                                    <td>
                                        <button class="btn btn-danger">
                                            <a href="{{ path('app_sponsor_show', {'id': sponsor.id}) }}" style="color: white;">Afficher</a></button>
                                    </td><td> <button class="btn btn-dark">
                                        <a href="{{ path('app_sponsor_edit', {'id': sponsor.id}) }}" style="color: white;">Modifier</a></button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
<div style="text-align: center; !important;margin-left: 550px; " class="navigation">
            {{ knp_pagination_render(sponsors) }}
        </div>
                    </div>  <button class="au-btn au-btn-icon au-btn--green au-btn--small" >
                        <i class="zmdi zmdi-plus"></i><a href="{{ path('app_sponsor_new') }}" style="color: white;">Ajouter un sponsor</a>
                    </button>
                    {#  <!-- <button class="au-btn au-btn-load">
                                        <a href="{{ path('app_pack_new') }}" style="color: white;">Ajouter un Pack</a>
                                    </button>--> #}

                </div>
                <!-- END WHITE BACKGROUND-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2023 Colorlib. All rights reserved. Template by <a
                                href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
