{% if likedByUser %}
    <button class="btn btn-danger btn-sm" data-action="remove-like" data-object-type="{{ objectType }}" data-object-id="{{ objectId }}">
        <i class="fa fa-thumbs-down"></i> Unlike
    </button>
{% else %}
    <button class="btn btn-success btn-sm" data-action="add-like" data-object-type="{{ objectType }}" data-object-id="{{ objectId }}">
        <i class="fa fa-thumbs-up"></i> Like
    </button>
{% endif %}

<span class="total-likes">{{ totalLikes }}</span> Likes
