{%  extends 'baseBack.html.twig' %}


{% block title %} Liste des Materiels {% endblock %}

{% block body %}
        <!-- PAGE CONTAINER-->

                                <!-- START WHITE BACKGROUND-->


                                    <!-- USER DATA-->
                                    <div class="user-data m-b-40">
                                        <h3 class="title-3 m-b-30">
                                           <i class="fa-solid fa-dumbbell"></i>  Gestion Des Materiels</h3>
                                        <div class="filters m-b-45">
                                            <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                                <select class="js-select2" name="property">
                                                    <option selected="selected">Filtrer</option>
                                                    <option value="">Nom</option>
                                                    <option value="">Maintenance</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                            
                                        </div>
                                        <br>
                                            <br>
                                            
                                        <div class="input-group">
                                        {#//recherche #}
                                        <div class="container-fluid" style="display:flex;justify-content:flex-end;align-items:flex-end;">
                                            <div class="header-wrap">
                                                <form class="form-header" action="" method="POST">
                                                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Chercher matériel">
                                                    <button class="au-btn--submit" type="submit">
                                                        <i class="zmdi zmdi-search"></i>
                                                    </button>
                                                </form>
                                                </div>
                                        </div>
                                        <div class="table-responsive table-data">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <td>Id</td>
                                                    <td>Nom materiel</td>
                                                    <td>Reference materiel</td>
                                                    <td>Maintenance materiel</td>
                                                    <td>Quantite materiel</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for materiel in materiels %}
                                                    <tr>
                                                        <td style="text-align: center">{{ materiel.id }}</td>
                                                        <td style="text-align: center">{{ materiel.nomMateriel }}</td>
                                                        <td style="text-align: center">{{ materiel.referenceMateriel }}</td>
                                                        <td style="text-align: center">{{ materiel.dateMaintenanceMateriel ? materiel.dateMaintenanceMateriel|date('Y-m-d') : '' }}</td>
                                                        <td style="text-align: center">{% if materiel.quantiteMateriel == 0 %}0{% else %} {{ materiel.quantiteMateriel }} {% endif %}</td>

                                                        <td style="text-align: center">
                                                            <a class="btn btn-outline-secondary" href="{{ path('app_materiel_show', {'id': materiel.id}) }}">show</a>
                                                        </td>
                                                        <td style="text-align: center">
                                                            <a class="btn btn-outline-secondary" href="{{ path('app_materiel_edit', {'id': materiel.id}) }}">edit</a>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}



                                                </tbody>

                                            </table>

                                        </div>

                                    </div>
                                        <div align="center" class="card-footer">

                                            <a type="reset" class="btn btn-danger btn-sm" href="{{ path('app_materiel_new') }}">Create new</a>

                                        </div>
                                    <!-- END USER DATA-->


                                <!-- END WHITE BACKGROUND-->





{% endblock %}
