{%  extends 'baseBack.html.twig' %}


{% block title %} Liste des Materiels {% endblock %}

{% block body %}
    <div class="page-wrapper">
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- START WHITE BACKGROUND-->
                                <div class="map-data m-b-40">

                                    <!-- USER DATA-->
                                    <div class="user-data m-b-30">
                                        <h3 class="title-3 m-b-30">
                                            <i class="fas fa-table"></i>Details Materiel</h3>

                                        <div class="table-responsive table-data">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th>Id</th>
                                                    <td>{{ materiel.id }}</td>
                                                </tr>
                                                <tr>
                                                    <th>NomMateriel</th>
                                                    <td>{{ materiel.nomMateriel }}</td>
                                                </tr>
                                                <tr>
                                                    <th>ReferenceMateriel</th>
                                                    <td>{{ materiel.referenceMateriel }}</td>
                                                </tr>
                                                <tr>
                                                    <th>DateMaintenanceMateriel</th>
                                                    <td>{{ materiel.dateMaintenanceMateriel ? materiel.dateMaintenanceMateriel|date('Y-m-d') : '' }}</td>
                                                </tr>
                                                <tr>
                                                    <th>QuantiteMateriel</th>
                                                    <td>{{ materiel.quantiteMateriel ? materiel.quantiteMateriel : 0 }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <div align="center" class="card-footer">

                                            <a class="btn btn-danger " href="{{ path('app_materiel_edit', {'id': materiel.id}) }}">Edit</a>

                                            <a class="btn btn-secondary" href="{{ path('app_materiel_index') }}">Back to list</a>

                                        </div>
                                            {{ include('materi²el/_delete_form.html.twig') }}


                                    </div>
                                    <!-- END USER DATA-->

                                </div>
                                <!-- END WHITE BACKGROUND-->
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
        </div>

    </div>



    <a href="{{ path('app_materiel_new') }}">Create new</a>
{% endblock %}


