{% extends 'baseBack.html.twig' %}
{% block content %}
{% block body %}
<!-- MAIN CONTENT-->
    <div class="page-wrapper">
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- START WHITE BACKGROUND-->
                                <div class="map-data m-b-40">
<title>Ticket index</title>

    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Description De La Ticket</th>
                <th>Ticket Pour Competition</th>
                <th>Ticket Pour la date: </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                {# <td>{{ ticket.id }}</td> #}
                <td>{{ ticket.descriptionTicket }}</td>
                <td>{{ ticket.competition.nomCompetition }}</td>
                <td>{{ ticket.competition.dateCompetition|date('Y-m-d') }}</td>
                <td>
                 <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">
                <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modifier">
                                                            <i class="zmdi zmdi-edit"></i>
                                                         
                                                        </button> </a>
                   <br>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">
                 <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="afficher">
                                                            <i class="zmdi zmdi-more"></i>
                                                         
                                                        </button>   </a>
                    {# <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}"><class="btn btn-primary">Consulter</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}"><class="btn btn-primary">Modifier</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de tickets crées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>    
    <tr>
        <td colspan="3">Vous voulez ajouter une ticket?</td>
    </tr>
    <a href="{{ path('app_ticket_new') }}" class="btn btn-primary" style="background-color: #750000; color: white;">Créer une nouvelle ticket</a>
    
{% endblock %}
          </div>
                                <!-- END WHITE BACKGROUND-->
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 EnergyBox. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
        </div>

    </div>
    {% endblock %}
