<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
         {#    {{ encore_entry_link_tags('app') }}#}

            <link rel="stylesheet" href={{asset('./frontOffice/css/bootstrap.min.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/owl.carousel.min.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/slicknav.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/flaticon.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/gijgo.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/animate.min.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/animated-headline.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/magnific-popup.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/fontawesome-all.min.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/themify-icons.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/slick.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/nice-select.css')}}>
            <link rel="stylesheet" href={{asset('./frontOffice/css/style.css')}}>
        {% endblock %}


    </head>
    <body>
        <header>

            <!--? Header Start -->
            <div class="header-area header-transparent">
                <div class="main-header">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="#"><img src={{asset('./frontOffice/img/logo/LogoGymWhite.png')}} alt="" style="height: 180px; width: 190px; margin-bottom: -10px;"></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <div class="menu-main d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="services.html">competitions</a></li>
                                                <li><a href="schedule.html">schedule</a></li>
                                                <li><a href="gallery.html.twig">Abonnements</a></li>
                                                <li><a href="gallery.html.twig">Restaurants</a></li>
                                                <li><a href="{{ path('app_post_index') }}">Posts</a></li>
                                                <!--<li><a href="blog.html.twig">Blog</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html.twig">Blog</a></li>
                                                        <li><a href="blog_details.html.twig">Blog Details</a></li>
                                                        <li><a href="elements.html">Element</a></li>
                                                    </ul>
                                                </li>-->
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                        <a href="from.html" class="btn header-btn">became a member</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>
        <main>
            <!--? Hero Start -->
            <div class="slider-area2">
                <div class="slider-height2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap hero-cap2 pt-70 text-center">
                                    <h2>{% block page %}{% endblock %}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->

            <!--? Blog Area Start-->
            <section class="blog_area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mb-5 mb-lg-0">
                            {% block tache %}


                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        </main>


    </body>

    <!-- Footer Start -->
    <footer>
        <!--? Footer Start-->
        <div  class="footer-area section-bg" data-background="{{ asset('frontOffice/img/gallery/section_bg03.png') }}">
            <div class="container">
                <div class="footer-top footer-padding">
                    <!-- Footer Menu -->
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>COMPANY</h4>
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Company</a></li>
                                        <li><a href="#"> Press & Blog</a></li>
                                        <li><a href="#"> Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Open hour</h4>
                                    <ul>
                                        <li><a href="#">Monday 11am-7pm</a></li>
                                        <li><a href="#"> Tuesday-Friday 11am-8pm</a></li>
                                        <li><a href="#"> Saturday 10am-6pm</a></li>
                                        <li><a href="#"> Sunday 11am-6pm</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>RESOURCES</h4>
                                    <ul>
                                        <li><a href="#">Home Insurance</a></li>
                                        <li><a href="#">Travel Insurance</a></li>
                                        <li><a href="#"> Car Insurance</a></li>
                                        <li><a href="#"> Business Insurance</a></li>
                                        <li><a href="#"> Heal Insurance</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{{ asset('frontOffice/img/logo/LogoGymWhite.png') }}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">GThe trade war currently ensuing between te US anfd several natxions around thdhe globe, most fiercely with.</p>
                                    </div>
                                </div>
                                <!-- Footer Social -->
                                <div class="footer-social ">
                                    <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    {% block javascripts %}
        <script src="{{asset('./frontOffice/js/vendor/modernizr-3.5.0.min.js')}}"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="{{asset('./frontOffice/js/vendor/jquery-1.12.4.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/popper.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/bootstrap.min.js')}}"></script>
        <!-- Jquery Mobile Menu -->
        <script src="{{asset('./frontOffice/js/jquery.slicknav.min.js')}}"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{asset('./frontOffice/js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/slick.min.js')}}"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="{{asset('./frontOffice/js/wow.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/animated.headline.js')}}"></script>
        <script src="{{asset('./frontOffice/js/jquery.magnific-popup.js')}}"></script>

        <!-- Date Picker -->
        <script src="{{asset('./frontOffice/js/gijgo.min.js')}}"></script>
        <!-- Nice-select, sticky -->
        <script src="{{asset('./frontOffice/js/jquery.nice-select.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/jquery.sticky.js')}}"></script>

        <!-- counter , waypoint,Hover Direction -->
        <script src="{{asset('./frontOffice/js/jquery.counterup.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/waypoints.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/jquery.countdown.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/hover-direction-snake.min.js')}}"></script>
        <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        <!-- contact js -->
        <script src="{{asset('./frontOffice/js/contact.js')}}"></script>
        <script src="{{asset('./frontOffice/js/jquery.form.js')}}"></script>
        <script src="{{asset('./frontOffice/js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('./frontOffice/js/mail-script.js')}}"></script>
        <script src="{{asset('./frontOffice/js/jquery.ajaxchimp.min.js')}}"></script>


        <!-- Jquery Plugins, main Jquery -->
        <script src="{{asset('./frontOffice/js/plugins.js')}}"></script>
        <script src="{{asset('./frontOffice/js/main.js')}}"></script>

        {#   {{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</html>
