{%  extends 'baseBack.html.twig' %}


{% block title %} Liste des Fournisseurs {% endblock %}

{% block body %}
  
                                <!-- START WHITE BACKGROUND-->

                                    <!-- USER DATA-->
                                    <div class="user-data m-b-30">
                                        <h3 class="title-3 m-b-30">
                                            <i class="fa-solid fa-truck-fast"></i>Gestion Des Fournisseurs</h3>
                                        <div class="filters m-b-45">
                                            <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                                <select class="js-select2" name="property">
                                                    <option selected="selected">Filtrer</option>
                                                    <option value="">Id fournisseur</option>
                                                    <option value="">Services</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                           
                                        </div>
                                        <div class="input-group">
                                        {#//recherche #}
                                            <div class="container-fluid" style="display:flex;justify-content:flex-end;align-items:flex-end;">
                                                <div class="header-wrap">
                                                    <form class="form-header" action="" method="GET">
                                                        <input type="text" class="au-input au-input--xl" id="searchInput" placeholder="Search&hellip;">
                                                        <button class="au-btn--submit" type="submit">
                                                            <i class="zmdi zmdi-search"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>


                                            <script>
                                                function filterTable() {
                                                    const filter = document.getElementById('searchInput').value.toUpperCase();
                                                    const rows = document.querySelectorAll('table tr');
                                                    for (let i = 1; i < rows.length; i++) {
                                                        const cols = rows[i].querySelectorAll('td');
                                                        let visible = false;
                                                        for (let j = 0; j < cols.length; j++) {
                                                            const cell = cols[j];
                                                            if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
                                                                visible = true;
                                                                break;
                                                            }
                                                        }
                                                        rows[i].style.display = visible ? '' : 'none';
                                                    }
                                                }
                                                document.getElementById('searchInput').addEventListener('keyup', filterTable);
                                            </script>
                                        <div class="table-responsive table-data">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <td>Id</td>
                                                    <td>Nom Fournisseur</td>
                                                    <td>Contact Fournisseur</td>
                                                    <td>Email Fournisseur</td>
                                                    <td>Adresse Fournisseur</td>
                                                    <td></td>
                                                    <td></td>                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for fournisseur in fournisseurs %}
                                                    <tr>
                                                        <td>{{ fournisseur.id }}</td>
                                                        <td>{{ fournisseur.nomFournisseur }}</td>
                                                        <td>{{ fournisseur.contactFournisseur }}</td>
                                                        <td>{{ fournisseur.emailFournisseur }}</td>
                                                        <td>{{ fournisseur.adresseFournisseur }}</td>
                                                        <td>
                                                            <a class="btn btn-secondary" href="{{ path('app_fournisseur_show', {'id': fournisseur.id}) }}">show</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-secondary" href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                        </div>
                                    </div>
                                        <div align="center" class="card-footer">

                                            <a type="reset" class="btn btn-danger btn-sm" href="{{ path('app_fournisseur_new') }}">Create new</a>

                                        </div>
                                    <!-- END USER DATA-->

                            
                                <!-- END WHITE BACKGROUND-->
                            

            <!-- END MAIN CONTENT-->

    
{% endblock %}
