{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Restaurant{% endblock %}

{% block body%}
    <div class="container">
        {{ form_start(formmenu,{'attr': {'novalidate':'novalidate'}}) }}
        <div class="form_group">
            {{form_label(formmenu.categories,"Nom du menu:")}}
            {{form_widget(formmenu.categories,{'attr':{'class':'form-control'}})}}
            {% if form_errors(formmenu.categories) is not empty %}
                <div class="alert alert-danger">
                    {{form_errors(formmenu.categories)}}
                </div>
            {% endif %}
        </div>

        <div class="form_group">
            {{form_label(formmenu.descriptionmenu,"Description du menu:")}}
            {{form_widget(formmenu.descriptionmenu,{'attr':{'class':'form-control'}})}}
            {% if form_errors(formmenu.descriptionmenu) is not empty %}
                <div class="alert alert-danger">
                    {{form_errors(formmenu.descriptionmenu)}}
                </div>
            {% endif %}
        </div>

        <div class="form_group">
            {{form_label(formmenu.UserId ,"Userid du menu:")}}
            {{form_widget(formmenu.UserId ,{'attr':{'class':'form-control'}})}}
            {% if form_errors(formmenu.UserId ) is not empty %}
                <div class="alert alert-danger">
                    {{form_errors(formmenu.UserId )}}
                </div>
            {% endif %}
        </div>



        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{form_end(formmenu)}}
    </div>


                    {% endblock %}
