{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Restaurant{% endblock %}

{% block body%}

 <!--waaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->

                                                    <div class="container">
                                                        {{ form_start(formPlat,{'attr': {'novalidate':'novalidate'}}) }}
                                                        <div class="form_group">
                                                            {{form_label(formPlat.nom,"Nom du plat:")}}
                                                            {{form_widget(formPlat.nom,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.nom) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.nom)}}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form_group">
                                                            {{form_label(formPlat.prix,"Prix du plat:")}}
                                                            {{form_widget(formPlat.prix,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.prix) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.prix)}}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form_group">
                                                            {{form_label(formPlat.description,"Description du plat:")}}
                                                            {{form_widget(formPlat.description,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.description) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.description)}}
                                                                </div>
                                                            {% endif %}
                                                        </div>

                                                        <div class="form_group">
                                                            {{form_label(formPlat.calories,"Calories du plat:")}}
                                                            {{form_widget(formPlat.calories,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.calories) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.calories)}}
                                                                </div>
                                                            {% endif %}
                                                        </div>


                                                        <div class="form_group">
                                                            {{form_label(formPlat.etat,"etat du plat:")}}
                                                            {{form_widget(formPlat.etat,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.etat) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.etat)}}
                                                                </div>
                                                            {% endif %}
                                                        </div>

                                                        <div class="form_group">
                                                            {{form_label(formPlat.UserId,"UserId du plat:")}}
                                                            {{form_widget(formPlat.UserId,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.UserId) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.UserId)}}
                                                                </div>
                                                            {% endif %}
                                                        </div>


                                                        <div class="form_group">
                                                            {{form_label(formPlat.categories,"categories du plat:")}}
                                                            {{form_widget(formPlat.categories,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.categories) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.categories)}}
                                                                </div>
                                                            {% endif %}
                                                        </div>

                                                        <div class="form_group">
                                                            {{form_label(formPlat.nbp,"nbp du plat:")}}
                                                            {{form_widget(formPlat.nbp,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.nbp) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.nbp)}}
                                                                </div>
                                                            {% endif %}
                                                        </div>


                                                        <div class="form_group">
                                                            {{form_label(formPlat.image ,"Image du plat:")}}
                                                            {{form_widget(formPlat.image ,{'attr':{'class':'form-control'}})}}
                                                            {% if form_errors(formPlat.image ) is not empty %}
                                                                <div class="alert alert-danger">
                                                                    {{form_errors(formPlat.image )}}
                                                                </div>
                                                            {% endif %}
                                                        </div>


                                                        {% for message in app.session.flashBag.get('success') %}
                                                            <div class="alert alert-success">{{ message }}</div>
                                                        {% endfor %}

                                                        {{form_end(formPlat)}}
                                                    </div>

 <!-- waaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->

                    {% endblock %}
