{%  extends 'baseBack.html.twig' %}


{% block title %} Liste des Materiels {% endblock %}

{% block body %}


                                    <!-- USER DATA-->
                                    <div class="user-data m-b-30">
                                        <h3 class="title-3 m-b-30">
                                            <i class="fa-solid fa-file-invoice"></i>Detail Charge <strong>{{charge.id}}</strong></h3>

                                        <div class="table-responsive table-data">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th>Id</th>
                                                    <td>{{ charge.id }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Quantite Charge</th>
                                                    <td>{{ charge.quantiteCharge }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Date Arrivage</th>
                                                    <td>{{ charge.dateArrivageCharge ? charge.dateArrivageCharge|date('Y-m-d') : '' }}</td>
                                                </tr>
                                                  <tr>
                                                    <th>Fournisseur</th>
                                                    <td>{{ charge.fournisseur }}</td>
                                                </tr>
                                                  <tr>
                                                    <th>Type Matériel</th>
                                                    <td>{{ charge.materiel }}</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div align="center" class="card-header">
                                            <a class="btn btn-secondary" href="{{ path('app_charge_index') }}">back to list</a>
                                            <a class="btn btn-danger " href="{{ path('app_charge_edit', {'id': charge.id}) }}">edit</a>
                                        </div>
                                    </div>
                                            {{ include('charge/_delete_form.html.twig') }}
                                    <!-- END USER DATA-->


                                <!-- END WHITE BACKGROUND-->

{% endblock %}
